---
import SectionContainer from './sectionContainer.astro';
---

<section class="bg-teal-50">
  <SectionContainer>
    <div class="grid grid-cols-12 gap-7 mb-[-30px] items-center">
      <div
        data-aos="custom-fade-right"
        class="relative col-span-12 lg:col-span-6 order-1 lg:order-2 rounded-lg overflow-hidden"
      >
        <div class="grid grid-cols-12 gap-4 items-center">
          <div class="col-span-6">
            <div class="grid grid-cols-1 gap-4">
              <img
                src="/images/about002.webp"
                class="shadow rounded-lg"
                alt=""
              />

              <div class="ml-auto">
                <img
                  src="/images/about002b.webp"
                  class="shadow rounded-lg"
                  alt=""
                />
              </div>
            </div>
          </div>

          <div class="col-span-6">
            <div class="grid grid-cols-1 gap-4">
              <img
                src="/images/about002a.webp"
                class="shadow rounded-lg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
      <div
        data-aos="custom-fade-right"
        class="w-11/12 col-span-12 lg:col-span-6 order-2 lg:order-1 mb-[30px]"
      >
        <span class="text-amber-600 font-bold inline-block mb-2"
          >Years of Excellence</span
        >
        <h2
          class="font-semibold text-[24px] sm:text-[30px] leading-[1.3888] xl:text-[35px] capitalize mb-[50px]"
        >
          Trusted Real Estate Experts with Over 40 Years of Experience
        </h2>

        <p>
          Azureline Realty has been a trusted name in real estate since 1980.
          Starting as a small startup, we've grown into a reputable agency with
          a strong presence across Hong Kong and beyond.
        </p>
        <p class="mt-4">
          Our journey includes launching our innovative "SmartMatch" property
          pairing system in 2005 and opening our 50th branch office in 2015.
          These milestones have cemented our position as a leading real estate
          agency, dedicated to delivering exceptional results for our clients.
        </p>
      </div>
    </div>
  </SectionContainer>
</section>
