---
import { Icon } from 'astro-icon/components';
import SectionContainer from './sectionContainer.astro';
---

<section id="contact" class="bg-amber-50" id="contact">
  <SectionContainer>
    <div class="mx-auto container">
      <div class="mb-4">
        <div
          class="mb-6 max-w-3xl text-center sm:text-center md:mx-auto md:mb-12"
        >
          <p
            class="text-base font-semibold uppercase tracking-wide text-amber-700"
          >
            Contact
          </p>
          <h2
            class="text-center font-semibold text-3xl sm:text-4xl md:text-5xl text-slate-900 sm:leading-10 w-full mb-4"
          >
            Get in Touch
          </h2>
          <p class="mx-auto mt-4 max-w-3xl text-xl text-gray-600">
            Your Property Journey Begins Here
          </p>
        </div>
      </div>
      <div class="flex items-stretch justify-center">
        <div class="grid md:grid-cols-2">
          <div data-aos="custom-fade-left" class="h-full pr-6">
            <p class="mt-3 mb-12 text-lg text-gray-600">
              Whether you're looking to buy, sell, or invest in real estate, our
              team of experts is ready to assist you. Contact us today to
              discuss your property goals and discover how we can turn your real
              estate dreams into reality.
            </p>
            <ul class="mb-6 md:mb-0">
              <li class="flex">
                <div
                  class="flex h-10 w-10 items-center justify-center rounded bg-amber-600 text-gray-50"
                >
                  <Icon class="w-6 h-6" name="mdi:location-on-outline" />
                </div>
                <div class="ml-4 mb-4">
                  <h3 class="mb-2 text-lg font-medium leading-6 text-gray-900">
                    Our Address
                  </h3>
                  <p class="text-gray-600">Room 1002, Street 12, Lorem Road,</p>
                  <p class="text-gray-600">Ipsum, Some Country.</p>
                </div>
              </li>
              <li class="flex">
                <div
                  class="flex h-10 w-10 items-center justify-center rounded bg-amber-600 text-gray-50"
                >
                  <Icon class="w-6 h-6" name="mdi:phone-outline" />
                </div>
                <div class="ml-4 mb-4">
                  <h3 class="mb-2 text-lg font-medium leading-6 text-gray-900">
                    Contact
                  </h3>
                  <p class="text-gray-600">Mobile: +0 (123) 456-7890</p>
                  <p class="text-gray-600">Mail: lorem@ipsum.com</p>
                </div>
              </li>
              <li class="flex">
                <div
                  class="flex h-10 w-10 items-center justify-center rounded bg-amber-600 text-gray-50"
                >
                  <Icon class="w-6 h-6" name="mdi:access-time" />
                </div>
                <div class="ml-4 mb-4">
                  <h3 class="mb-2 text-lg font-medium leading-6 text-gray-900">
                    Working hours
                  </h3>
                  <p class="text-gray-600">Monday - Friday: 08:00 - 17:00</p>
                  <p class="text-gray-600">
                    Saturday &amp; Sunday: 08:00 - 12:00
                  </p>
                </div>
              </li>
            </ul>
          </div>
          <div
            data-aos="custom-fade-right"
            class="h-fit max-w-6xl p-5 md:p-12"
            id="form"
          >
            <h2 class="mb-4 text-2xl font-bold">Ready to Get Started?</h2>
            <form id="contactForm">
              <div class="mb-6">
                <div class="mx-0 mb-1 sm:mb-4">
                  <div class="mx-0 mb-1 sm:mb-4">
                    <label
                      for="name"
                      class="pb-1 text-xs uppercase tracking-wider"
                    ></label><input
                      type="text"
                      id="name"
                      placeholder="Your name"
                      class="mb-2 w-full rounded-md border border-gray-400 py-2 pl-2 pr-4 shadow-md sm:mb-0"
                      name="name"
                    />
                  </div>
                  <div class="mx-0 mb-1 sm:mb-4">
                    <label
                      for="email"
                      class="pb-1 text-xs uppercase tracking-wider"
                    ></label><input
                      type="email"
                      id="email"
                      autocomplete="email"
                      placeholder="Your email address"
                      class="mb-2 w-full rounded-md border border-gray-400 py-2 pl-2 pr-4 shadow-md sm:mb-0"
                      name="email"
                    />
                  </div>
                </div>
                <div class="mx-0 mb-1 sm:mb-4">
                  <label
                    for="textarea"
                    class="pb-1 text-xs uppercase tracking-wider"
                  ></label><textarea
                    id="textarea"
                    name="textarea"
                    cols="30"
                    rows="5"
                    placeholder="Write your message..."
                    class="mb-2 w-full rounded-md border border-gray-400 py-2 pl-2 pr-4 shadow-md sm:mb-0"
                  ></textarea>
                </div>
              </div>
              <div class="text-center">
                <button
                  type="submit"
                  class="w-full bg-amber-600 text-white px-6 py-3 text-lg rounded-md sm:mb-0"
                  >Send Message</button
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </SectionContainer>
</section>
