<section
  class="py-24 w-full max-w-[1920px] mx-auto relative"
  style="background: url('/images/ctabg001.webp') no-repeat center center; background-size: cover;"
>
  <div class="absolute inset-0 bg-black opacity-80"></div>
  <div class="mx-auto container relative">
    <div class="grid grid-cols-1 pb-8 text-center">
      <h3 class="mb-6 md:text-3xl text-2xl text-white font-medium">
        Ready to start your real estate journey?
      </h3>

      <p class="text-gray-400 max-w-3xl mx-auto">
        Connect with our experts and benefit from our experience in navigating
        the property market. Whether buying, selling, or investing, we're here
        to guide you towards success.
      </p>

      <div class="relative mt-10">
        <a
          href="#contact"
          class="py-4 px-8 bg-orange-600 border-2 font-semibold hover:bg-opacity-0 border-orange-600 hover:border-orange-600 text-white rounded-md"
          >Get Started !</a
        >
      </div>
    </div>
  </div>
</section>
