---
import { Icon } from 'astro-icon/components';
---

<footer class="flex items-end justify-center">
    <div class="w-full bg-gray-800 text-gray-400 pt-10 lg:px-20 px-6">
        <div class="mx-auto container ">
            <div class=" xl:flex lg:flex items-center justify-between mb-4">
                <a href="/" class="flex items-center justify-center mb-4">
                  <img src="/images/logo.png" alt="" class="h-10">
                </a>
                <ul class="flex flex-wrap justify-center text-sm font-semibold mb-2">
                    <li><a class="text-base transition-all duration-300 ease-in-out mx-5 my-5 hover:text-yellow-200" href="/">Home</a></li>
                    <li><a class="text-base transition-all duration-300 ease-in-out mx-5 my-5 hover:text-yellow-200" href="#about">About</a></li>
                    <li><a class="text-base transition-all duration-300 ease-in-out mx-5 my-5 hover:text-yellow-200" href="#services">Services</a></li>
                    <li><a class="text-base transition-all duration-300 ease-in-out mx-5 my-5 hover:text-yellow-200" href="#testimonial">Testimonial</a></li>
                    <li><a class="text-base transition-all duration-300 ease-in-out mx-5 my-5 hover:text-yellow-200" href="#contact">Contact</a></li>
                </ul>
                <ul class="flex justify-center items-center gap-4 px-14 ">
                    <li>
                        <a class="inline-flex justify-center items-center gap-x-2 rounded-lg" href="/">
                            <Icon class='w-6 h-6 mr-1 text-gray-400 hover:text-white transition-all duration-300 ease-in-out'  name="tdesign:logo-instagram" />
                        </a>
                    </li>
                    <li>
                        <a class="inline-flex justify-center items-center gap-x-2 rounded-lg" href="/">
                            <Icon class='w-6 h-6 mr-1 text-gray-400 hover:text-white transition-all duration-300 ease-in-out'  name="tdesign:logo-twitter" />
                        </a>
                    </li>
                    <li>
                        <a class="inline-flex justify-center items-center gap-x-2 rounded-lg" href="/">
                            <Icon class='w-6 h-6 mr-1 text-gray-400 hover:text-white transition-all duration-300 ease-in-out'  name="ic:baseline-facebook" />
                        </a>
                    </li>
                   
                </ul>
            </div>

            <div class="text-center text-gray-500 font-medium py-2">  
                &copy; {new Date().getFullYear()} Azureline Realty. All rights reserved.  
              </div>  
        </div>
    </div>
    

</footer>