---
import { Astronav, MenuItems, MenuIcon } from 'astro-navbar';
---

<header
  class="text-white bg-slate-700 text-lg py-5 px-4 md:px-8 lg:px-12 gap-5"
>
  <div class="container mx-auto lg:flex justify-between">
    <Astronav closeOnClick>
      <div class="flex w-full lg:w-auto justify-between">
        <img class="h-8 w-auto" src="/images/logo.png" />
        <div class="block lg:hidden">
          <MenuIcon class="w-6 h-6 text-white" />
        </div>
      </div>
      <MenuItems class="hidden lg:flex">
        <ul class="flex flex-col lg:flex-row lg:gap-5">
          <li class="w-full text-center p-4 lg:p-0 hover:text-yellow-200">
            <a href="#">Home</a>
          </li>
          <li class="w-full text-center p-4 lg:p-0 hover:text-yellow-200">
            <a href="#about">About</a>
          </li>
          <li class="w-full text-center p-4 lg:p-0 hover:text-yellow-200">
            <a href="#services">Services</a>
          </li>
          <li class="w-full text-center p-4 lg:p-0 hover:text-yellow-200">
            <a href="#testimonial">Testimonial</a>
          </li>
          <li class="w-full text-center p-4 lg:p-0 hover:text-yellow-200">
            <a href="#contact">Contact</a>
          </li>
        </ul>
      </MenuItems>
    </Astronav>
  </div>
</header>
