---
const { title } = Astro.props;
import '../styles/global.css';
import 'aos/dist/aos.css';
import Nav from '../components/nav.astro';
import Footer from '../components/footer.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Nav />
    <div class="flex flex-col mx-auto">
      <slot />
      <Footer />
    </div>
    <script src="../js/main"></script>
  </body>
</html>
